/* Tailwind base, components, and utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
:root {
  --background: #f1f1f1;
}

body {
  background: var(--background);
  font-family: var(--font-raleway), sans-serif; /* Apply Raleway font */
}

.rounded-rectangle {
  width: 50%;
  height: 100vh;
  background-color: #3C6E71; /* from bg-gray-200 */
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.619);
  display: flex;
  flex-direction: column; /* from flex and flex-col */
  justify-content: center;
  align-items: center;
  color: #f1f1f1; /* text color */
  z-index: 1;
}

.signin-form{
  display: flex;
  flex-direction: column; /* from flex and flex-col */
  justify-content: center;
  align-items: center;
}

/* Button Styles */
.button {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 0.375rem; /* 6px */
  padding: 0.375rem 0.75rem; /* 6px 12px */
  font-size: 0.875rem; /* 14px */
  font-weight: 600; /* font-semibold */
  color: white;
  background-color: #3C6E71; /* indigo-600 */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: #abccce; /* hover:bg-indigo-500 */
}

.forgot-password {
  color: #3C6E71;
}

.forgot-password:hover{
  color:#abccce
}

.click-here{
  color:#abccce;
}